<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <category label="Osnovne Postavke Addona">
        <setting id="json_url" type="text" label="URL do JSON fajla sa listom servera" default="https://bandateam.ucoz.com/stalkerlist.json"/>
        <setting id="request_timeout" type="slider" label="Timeout za mrežne zahteve (sekunde)" default="15" range="5,1,60" option="int"/>
    </category>

    <category label="Identifikacija Stalker Portala (Globalne vrednosti)">
        <setting id="user_agent" type="text" label="User-Agent za HTTP zahteve" 
                 default="Mozilla/5.0 (QtEmbedded; U; Linux; C) AppleWebKit/533.3 (KHTML, like Gecko) MAG200 stbapp ver: 2 rev: 250 Safari/533.3"/>
    </category>

    <category label="Parametri STB Uređaja (Globalne vrednosti)">
        <setting label="Ove vrednosti se koriste kao podrazumevane ako nisu specifično definisane za server u JSON listi." type="lsep"/>
        <setting id="stb_type" type="text" label="Tip STB uređaja (npr. MAG250, MAG254)" default="MAG250"/>
        <setting id="image_version" type="text" label="Verzija Softvera (Image Version)" default="218"/>
        <setting id="hw_version" type="text" label="Hardverska Verzija STB-a" default="1.7-BD-00"/>
        <setting id="device_id" type="text" label="Device ID (opciono, za neke portale)" default=""/>
        <setting id="device_id2" type="text" label="Device ID2 (opciono, za neke portale)" default=""/>
        <setting id="signature" type="text" label="Potpis (Signature) (opciono)" default=""/>
        <setting id="serial_number" type="text" label="Serijski Broj STB-a (opciono)" default=""/>
    </category>
</settings>
