<settings>
    <category label="Podesavanje Generatora MAC Listi">
        <!-- Prekidač za uključivanje i isključivanje korisničkih grupa -->
        <setting id="use_user_groups" type="bool" label="Koristi korisničke grupe" default="false" />
        
        <!-- Polja za unos URL-ova za korisničke grupe -->
        <setting id="custom_group_1" type="text" label="URL za Grupu 1" default="" />
        <setting id="custom_group_2" type="text" label="URL za Grupu 2" default="" />
        <setting id="custom_group_3" type="text" label="URL za Grupu 3" default="" />
        <setting id="custom_group_4" type="text" label="URL za Grupu 4" default="" />
        <setting id="custom_group_5" type="text" label="URL za Grupu 5" default="" />
    </category>
</settings>
